<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0 auto;
            padding: 0;
        }
        #body{
            background: white;
            width: 50%;
            border: 1px solid gray;
            border-radius: 10px;
            margin-top: 30px;
        }
        .header{
            overflow: hidden;
            padding: 20px 20px;
            font-size: 30px;
        }
        .textbottom{
            width: 100%;
        }
        .one{
            margin: 5px;
            border: 1px solid #c7bebe;
            border-radius: 5px;
            margin: 10px;
        }
        .one-top{
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
        }
        .top-success{
            background: pink;
        }
        .top-danger{
            background: rgb(127, 204, 127);
        }
        .one-bottom{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 50px;
            overflow: hidden;
        }
        .one-bottom:hover .btn{
            display: block;
        }
        .one-left{
            width: 40%;
        }
        .one-bottom .one-center{
            width: 40px;
            height: 23px;
            text-align: center;
            line-height: 23px;
            font-size: 13px;
            font-weight: 600;
        }
        .center-success{
            background: orange;
            color: white;
        }
        .center-danger{
            background: rgb(110, 157, 39);
            color: white;
        }
        .btn{
            border: none;
            width: 40px;
            height: 23px;
            background: rgb(225, 63, 63);
            color: white;
            font-size: 13px;
            font-weight: 400;
            display: none;
        }
        .col{
            float: left;
        }
        .col2{
            float: right;
        }
        .button{
            background: skyblue;
            width: 80px;
            height: 30px;
            border: none;
            border-radius: 8px;
            text-decoration: none;
            color: inherit;
            font-size: 20px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id="body">
        <div class="header">
            <div class="row">
            <p class="col">记账本</p>
            <p class="col2"><a href="/account/create" class="button">添加账单</a></p>
        </div>
        </div>
        <hr>
        <div class="textbottom">
            <!-- 列表渲染 -->
        <% accounts.forEach(item=>{ %>
            <div class="one">
                <div class="one-top <%= item.type===-1?'top-success':'top-danger' %>"><%= moment(item.time).format('YYYY-MM-DD') %></div>
                <div class="one-bottom">
                    <div class="one-left">
                        <span><%= item.title %></span>
                    </div>
                    <div class="one-center">
                        <div class="<%= item.type===-1?'center-success':'center-danger' %>"><%= item.type===-1?'支出':'收入' %></div>
                    </div>
                    <div class="one-right">
                        <span><%= item.account %>元</span>
                    </div>
                    <!-- 删除按钮 -->
                    <a href="/account/<%= item._id %>" class="delBtn">
                    <div class="one-fox">
                        <button class="btn">删除</button>
                    </div>
                    </a>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
<script>
    let delBtns=document.querySelectorAll('.delBtn');
    //绑定事件
    delBtns.forEach(item=>{
        item.addEventListener('click',function(e){
            if(confirm('您确定要删除吗？')){
                return true;
            }else{
                //阻止默认行为
                e.preventDefault();
            }
        })
    })
</script>